# Team# 02 Project_ File# 02_ Big Data 
# 02423029_ Suleman Khan
# 02323027_ Muhammad Farooq
# 02421070_ Adnan Mumtaz

# Data

Each data file is in a different language. We need to translate them into English before concatenation.
First, we'll examine the headers

In [1]:
import pandas as pd
df_merge = pd.read_csv('combined_dataset_with_generated_data_1.csv')

In [2]:
df_merge.describe()

,Person ID,Height (cm),Weight (kg),Sleep Quality,Calculated Night Sleep Duration,Stress Level,Heart Rate,Daily Steps,BMI
count,482.000000,482.000000,482.000000,482.000000,482.000000,482.000000,482.000000,482.000000,454.000000
mean,241.500000,165.734440,67.935685,6.446058,7.035685,5.431535,70.172199,6774.709544,24.805693
std,139.285678,7.547495,12.297677,1.967035,1.317724,1.718337,4.014192,1589.132565,3.074144
min,1.000000,150.000000,43.000000,2.000000,1.700000,3.000000,65.000000,3000.000000,17.703462
25%,121.250000,160.000000,60.000000,6.000000,6.200000,4.000000,68.000000,5600.000000,22.392638
50%,241.500000,166.000000,67.000000,7.000000,7.000000,5.000000,70.000000,7000.000000,22.912491
75%,361.750000,171.000000,76.000000,8.000000,8.000000,7.000000,72.000000,8000.000000,27.476486
max,482.000000,185.000000,100.000000,9.000000,9.800000,8.000000,86.000000,10000.000000,39.903093

There are twos outlier where height are under 100 (cm). To be safe, I'll replace these values with NaN

In [3]:
import numpy as np
df_merge['Height (cm)'] = df_merge['Height (cm)'].apply(lambda x: np.nan if x < 100 else x)
df_merge.describe()

,Person ID,Height (cm),Weight (kg),Sleep Quality,Calculated Night Sleep Duration,Stress Level,Heart Rate,Daily Steps,BMI
count,482.000000,482.000000,482.000000,482.000000,482.000000,482.000000,482.000000,482.000000,454.000000
mean,241.500000,165.734440,67.935685,6.446058,7.035685,5.431535,70.172199,6774.709544,24.805693
std,139.285678,7.547495,12.297677,1.967035,1.317724,1.718337,4.014192,1589.132565,3.074144
min,1.000000,150.000000,43.000000,2.000000,1.700000,3.000000,65.000000,3000.000000,17.703462
25%,121.250000,160.000000,60.000000,6.000000,6.200000,4.000000,68.000000,5600.000000,22.392638
50%,241.500000,166.000000,67.000000,7.000000,7.000000,5.000000,70.000000,7000.000000,22.912491
75%,361.750000,171.000000,76.000000,8.000000,8.000000,7.000000,72.000000,8000.000000,27.476486
max,482.000000,185.000000,100.000000,9.000000,9.800000,8.000000,86.000000,10000.000000,39.903093

# Drop the existed BMI Column and Generate the new One on the basis of the data we had for each Subject

In [4]:
# Drop BMI column
df_merge.drop('BMI', axis=1, inplace=True)

Let's add BMI index, which could be a helpful indicator for health

In [5]:
def calculate_bmi(weight, height_cm):
    if pd.notnull(weight) and pd.notnull(height_cm):
        height_m = height_cm / 100.0  # Convert height from cm to m
        bmi = weight / (height_m ** 2)
        return round(bmi,1)
    else:
        return None  # Return None if weight or height is missing
    
df_merge['BMI'] = df_merge.apply(lambda row: calculate_bmi(row['Weight (kg)'], row['Height (cm)']), axis=1)
df_merge.describe()

,Person ID,Height (cm),Weight (kg),Sleep Quality,Calculated Night Sleep Duration,Stress Level,Heart Rate,Daily Steps,BMI
count,482.000000,482.000000,482.000000,482.000000,482.000000,482.000000,482.000000,482.000000,482.000000
mean,241.500000,165.734440,67.935685,6.446058,7.035685,5.431535,70.172199,6774.709544,24.854979
std,139.285678,7.547495,12.297677,1.967035,1.317724,1.718337,4.014192,1589.132565,4.891996
min,1.000000,150.000000,43.000000,2.000000,1.700000,3.000000,65.000000,3000.000000,13.900000
25%,121.250000,160.000000,60.000000,6.000000,6.200000,4.000000,68.000000,5600.000000,21.600000
50%,241.500000,166.000000,67.000000,7.000000,7.000000,5.000000,70.000000,7000.000000,24.300000
75%,361.750000,171.000000,76.000000,8.000000,8.000000,7.000000,72.000000,8000.000000,27.900000
max,482.000000,185.000000,100.000000,9.000000,9.800000,8.000000,86.000000,10000.000000,41.300000

In [6]:
# show all columns names in the dataset
df_merge.columns

Index(['Person ID', 'Age Group', 'Gender', 'Occupation', 'Exercise Days/Week',
       'Device Usage (hrs/day)', 'Screen Time Before Sleep', 'Height (cm)',
       'Weight (kg)', 'Bedtime', 'Wake-up Time', 'Sleep Onset Time',
       'Nap Duration', 'Sleep Quality', 'Sleep Disturbances',
       'Sleep Medication', 'Language', 'Calculated Night Sleep Duration',
       'Stress Level', 'Blood Pressure', 'Heart Rate', 'Daily Steps',
       'Sleep Duration', 'BMI'],
      dtype='object')

In [7]:
# show all columns names in the dataset
df_merge.columns

Index(['Person ID', 'Age Group', 'Gender', 'Occupation', 'Exercise Days/Week',
       'Device Usage (hrs/day)', 'Screen Time Before Sleep', 'Height (cm)',
       'Weight (kg)', 'Bedtime', 'Wake-up Time', 'Sleep Onset Time',
       'Nap Duration', 'Sleep Quality', 'Sleep Disturbances',
       'Sleep Medication', 'Language', 'Calculated Night Sleep Duration',
       'Stress Level', 'Blood Pressure', 'Heart Rate', 'Daily Steps',
       'Sleep Duration', 'BMI'],
      dtype='object')

In [8]:
df_merge.describe()

,Person ID,Height (cm),Weight (kg),Sleep Quality,Calculated Night Sleep Duration,Stress Level,Heart Rate,Daily Steps,BMI
count,482.000000,482.000000,482.000000,482.000000,482.000000,482.000000,482.000000,482.000000,482.000000
mean,241.500000,165.734440,67.935685,6.446058,7.035685,5.431535,70.172199,6774.709544,24.854979
std,139.285678,7.547495,12.297677,1.967035,1.317724,1.718337,4.014192,1589.132565,4.891996
min,1.000000,150.000000,43.000000,2.000000,1.700000,3.000000,65.000000,3000.000000,13.900000
25%,121.250000,160.000000,60.000000,6.000000,6.200000,4.000000,68.000000,5600.000000,21.600000
50%,241.500000,166.000000,67.000000,7.000000,7.000000,5.000000,70.000000,7000.000000,24.300000
75%,361.750000,171.000000,76.000000,8.000000,8.000000,7.000000,72.000000,8000.000000,27.900000
max,482.000000,185.000000,100.000000,9.000000,9.800000,8.000000,86.000000,10000.000000,41.300000

Calculate Sleep Duration to compare with self-reported value in later analysis

In [9]:
# Drop the Caluclated BMI column and Generate the new one 
# Drop BMI column
df_merge.drop('Calculated Night Sleep Duration', axis=1, inplace=True)

In [10]:
from datetime import datetime, timedelta

# Function to parse time considering the day might change over midnight
def parse_time(time_str):
    # Assuming the time format is "HH:MM"
    return datetime.strptime(time_str, "%H:%M").time()

# Function to calculate sleep duration
def calculate_sleep_duration(bedtime_str, wakeup_str):
    bedtime = parse_time(bedtime_str)
    wakeup = parse_time(wakeup_str)
    
    # Convert to datetime objects
    bedtime_dt = datetime.combine(datetime.today(), bedtime)
    wakeup_dt = datetime.combine(datetime.today(), wakeup)
    
    # If bedtime is later than wakeup time, assume sleeping past midnight
    if bedtime_dt > wakeup_dt:
        wakeup_dt += timedelta(days=1)
    
    # Calculate the duration and convert to hours
    duration = wakeup_dt - bedtime_dt
    return round((duration.total_seconds() / 3600 ),2) # convert seconds to hours

# Apply the function to each row in the DataFrame
df_merge['Calculated Night Sleep Duration'] = df_merge.apply(lambda x: calculate_sleep_duration(x['Bedtime'], x['Wake-up Time']), axis=1)
df_merge.describe()

,Person ID,Height (cm),Weight (kg),Sleep Quality,Stress Level,Heart Rate,Daily Steps,BMI,Calculated Night Sleep Duration
count,482.000000,482.000000,482.000000,482.000000,482.000000,482.000000,482.000000,482.000000,482.000000
mean,241.500000,165.734440,67.935685,6.446058,5.431535,70.172199,6774.709544,24.854979,8.224336
std,139.285678,7.547495,12.297677,1.967035,1.718337,4.014192,1589.132565,4.891996,4.670951
min,1.000000,150.000000,43.000000,2.000000,3.000000,65.000000,3000.000000,13.900000,0.000000
25%,121.250000,160.000000,60.000000,6.000000,4.000000,68.000000,5600.000000,21.600000,5.750000
50%,241.500000,166.000000,67.000000,7.000000,5.000000,70.000000,7000.000000,24.300000,7.500000
75%,361.750000,171.000000,76.000000,8.000000,7.000000,72.000000,8000.000000,27.900000,9.000000
max,482.000000,185.000000,100.000000,9.000000,8.000000,86.000000,10000.000000,41.300000,23.950000

In [11]:
df_merge.sort_values(by="Calculated Night Sleep Duration", ascending=False)[['Bedtime', 'Wake-up Time', 'Calculated Night Sleep Duration']]

    Bedtime Wake-up Time  Calculated Night Sleep Duration
23    19:23        19:20                            23.95
479    0:12         0:07                            23.92
19     0:12         0:07                            23.92
411    0:30         0:07                            23.62
435    0:30         0:07                            23.62
..      ...          ...                              ...
419    4:00         4:50                             0.83
212    4:00         4:30                             0.50
251   22:50        23:00                             0.17
355    0:00         0:07                             0.12
233   23:00        23:00                             0.00

[482 rows x 3 columns]

Some people may confuse AM / PM and 24-hour format. For example:

In [12]:
df_merge[df_merge['Calculated Night Sleep Duration'] > 12]["Bedtime"].unique()

array(['0:12', '4:00', '19:23', '1:30', '2:00', '22:50', '2:20', '0:30',
       '20:30', '0:15', '1:00', '1:12', '23:30', '0:00'], dtype=object)

The survey is conducted using 24-hour format. So, if a person sleeps at 11PM, he/she should enter 23:00 instead of 11:00, which could be case there.
I'll create a function to add 12 hours to their input, except for the "4:00" bed-time above.

In [13]:
def fix_bedtime(bedtime_str):
    bedtime = parse_time(bedtime_str)
    
    # Convert to datetime objects
    bedtime_dt = datetime.combine(datetime.today(), bedtime)
    
    # If bedtime is later than wakeup time, assume sleeping past midnight
    if bedtime_dt > datetime.combine(datetime.today(), parse_time("9:00")) and bedtime_dt < datetime.combine(datetime.today(), parse_time("19:00")):
        bedtime_dt += timedelta(hours=12)

    return bedtime_dt.strftime("%H:%M")

# Fix the bedtime
df_merge['Bedtime'] = df_merge.apply(lambda x: fix_bedtime(x['Bedtime']), axis=1)
# # Recalculate bedtime
df_merge['Calculated Night Sleep Duration'] = df_merge.apply(lambda x: calculate_sleep_duration(x['Bedtime'], x['Wake-up Time']), axis=1)
# # Check for outliers
df_merge.sort_values(by="Calculated Night Sleep Duration", ascending=False)[['Bedtime', 'Wake-up Time', 'Calculated Night Sleep Duration']]

    Bedtime Wake-up Time  Calculated Night Sleep Duration
23    19:23        19:20                            23.95
479   00:12         0:07                            23.92
19    00:12         0:07                            23.92
411   00:30         0:07                            23.62
435   00:30         0:07                            23.62
..      ...          ...                              ...
419   04:00         4:50                             0.83
212   04:00         4:30                             0.50
251   22:50        23:00                             0.17
355   00:00         0:07                             0.12
233   23:00        23:00                             0.00

[482 rows x 3 columns]

There are still 3 strange values at the top, while the majority is now normal.

Let's NaN those values and save the data to csv

In [14]:
df_merge["Calculated Night Sleep Duration"] = df_merge["Calculated Night Sleep Duration"].apply(lambda x: x if x < 10 else np.nan)
df_merge.to_csv('all_1.csv', index=False)

In [15]:
All_1 = pd.read_csv('all_1.csv')
# make it dataframe
All_1 = pd.DataFrame(All_1)

In [16]:
All_1.describe()

,Person ID,Height (cm),Weight (kg),Sleep Quality,Stress Level,Heart Rate,Daily Steps,BMI,Calculated Night Sleep Duration
count,482.000000,482.000000,482.000000,482.000000,482.000000,482.000000,482.000000,482.000000,386.000000
mean,241.500000,165.734440,67.935685,6.446058,5.431535,70.172199,6774.709544,24.854979,6.421788
std,139.285678,7.547495,12.297677,1.967035,1.718337,4.014192,1589.132565,4.891996,2.094101
min,1.000000,150.000000,43.000000,2.000000,3.000000,65.000000,3000.000000,13.900000,0.000000
25%,121.250000,160.000000,60.000000,6.000000,4.000000,68.000000,5600.000000,21.600000,5.330000
50%,241.500000,166.000000,67.000000,7.000000,5.000000,70.000000,7000.000000,24.300000,7.000000
75%,361.750000,171.000000,76.000000,8.000000,7.000000,72.000000,8000.000000,27.900000,8.000000
max,482.000000,185.000000,100.000000,9.000000,8.000000,86.000000,10000.000000,41.300000,9.830000

In [17]:
All_1.columns

Index(['Person ID', 'Age Group', 'Gender', 'Occupation', 'Exercise Days/Week',
       'Device Usage (hrs/day)', 'Screen Time Before Sleep', 'Height (cm)',
       'Weight (kg)', 'Bedtime', 'Wake-up Time', 'Sleep Onset Time',
       'Nap Duration', 'Sleep Quality', 'Sleep Disturbances',
       'Sleep Medication', 'Language', 'Stress Level', 'Blood Pressure',
       'Heart Rate', 'Daily Steps', 'Sleep Duration', 'BMI',
       'Calculated Night Sleep Duration'],
      dtype='object')

In [18]:
All_1.head()

,Person ID,Age Group,Gender,Occupation,Exercise Days/Week,Device Usage (hrs/day),Screen Time Before Sleep,Height (cm),Weight (kg),Bedtime,...,Sleep Disturbances,Sleep Medication,Language,Stress Level,Blood Pressure,Heart Rate,Daily Steps,Sleep Duration,BMI,Calculated Night Sleep Duration
0,1,25-34,Female,Student,1-2 Days,7+ Hours,<30 Minutes,155,46,00:00,...,Rarely,No,English,8,121/79,68,7187,6+ Hours,19.1,8.0
1,2,25-34,Male,Student,0 Days,7+ Hours,2+ Hours,163,52,01:00,...,Rarely,No,English,7,120/80,73,6961,6+ Hours,19.6,7.5
2,3,25-34,Female,Student,1-2 Days,7+ Hours,1-2 Hours,160,60,23:30,...,Sometimes,No,English,8,132/87,65,6253,6+ Hours,23.4,7.5
3,4,25-34,Male,Student,1-2 Days,1-3 Hours,30-60 Minutes,173,88,00:30,...,Rarely,No,Urdu,8,125/82,71,4028,6+ Hours,29.4,5.5
4,5,25-34,Female,Student,0 Days,7+ Hours,2+ Hours,168,76,01:00,...,Never,No,Urdu,6,140/90,77,7102,Unknown,26.9,4.5

In [19]:
# find the missing values in the dataset
All_1.isnull().sum()

Person ID                           0
Age Group                           0
Gender                              0
Occupation                          0
Exercise Days/Week                  0
Device Usage (hrs/day)              0
Screen Time Before Sleep            0
Height (cm)                         0
Weight (kg)                         0
Bedtime                             0
Wake-up Time                        0
Sleep Onset Time                    0
Nap Duration                        0
Sleep Quality                       0
Sleep Disturbances                  0
Sleep Medication                    0
Language                            0
Stress Level                        0
Blood Pressure                      0
Heart Rate                          0
Daily Steps                         0
Sleep Duration                      1
BMI                                 0
Calculated Night Sleep Duration    96
dtype: int64

In [20]:
# Calculate 'Calculated Night Sleep Duration' for missing values using Bedtime and Wake-up Time columns
All_1['Calculated Night Sleep Duration'] = All_1.apply(lambda x: calculate_sleep_duration(x['Bedtime'], x['Wake-up Time']) if pd.isnull(x['Calculated Night Sleep Duration']) else x['Calculated Night Sleep Duration'], axis=1)

# Check for missing values
print(All_1.isnull().sum())

Person ID                          0
Age Group                          0
Gender                             0
Occupation                         0
Exercise Days/Week                 0
Device Usage (hrs/day)             0
Screen Time Before Sleep           0
Height (cm)                        0
Weight (kg)                        0
Bedtime                            0
Wake-up Time                       0
Sleep Onset Time                   0
Nap Duration                       0
Sleep Quality                      0
Sleep Disturbances                 0
Sleep Medication                   0
Language                           0
Stress Level                       0
Blood Pressure                     0
Heart Rate                         0
Daily Steps                        0
Sleep Duration                     1
BMI                                0
Calculated Night Sleep Duration    0
dtype: int64

In [21]:
All_1.to_csv('all_1.csv', index=False)

In [22]:
All_1 = pd.read_csv('all_1.csv')
# find the missing values in the dataset
All_1.isnull().sum()

Person ID                          0
Age Group                          0
Gender                             0
Occupation                         0
Exercise Days/Week                 0
Device Usage (hrs/day)             0
Screen Time Before Sleep           0
Height (cm)                        0
Weight (kg)                        0
Bedtime                            0
Wake-up Time                       0
Sleep Onset Time                   0
Nap Duration                       0
Sleep Quality                      0
Sleep Disturbances                 0
Sleep Medication                   0
Language                           0
Stress Level                       0
Blood Pressure                     0
Heart Rate                         0
Daily Steps                        0
Sleep Duration                     1
BMI                                0
Calculated Night Sleep Duration    0
dtype: int64

# Outlier Detection in  each Column

In [24]:
# Detect Outliers in each column of the dataset
outliers = []
for col in All_1.select_dtypes(include=[np.number]).columns:  # Only process numeric columns
    Q1 = All_1[col].quantile(0.25)
    Q3 = All_1[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers_in_col = All_1[(All_1[col] < lower_bound) | (All_1[col] > upper_bound)].index
    outliers.extend(outliers_in_col)
    
# Remove duplicates
outliers = list(set(outliers))
outliers.sort()
outliers

[19,
 20,
 21,
 23,
 25,
 31,
 36,
 37,
 43,
 47,
 49,
 50,
 55,
 57,
 63,
 66,
 68,
 81,
 86,
 107,
 111,
 112,
 113,
 114,
 121,
 124,
 126,
 141,
 156,
 159,
 161,
 165,
 166,
 168,
 169,
 188,
 189,
 190,
 201,
 212,
 214,
 227,
 231,
 233,
 234,
 236,
 251,
 253,
 255,
 262,
 266,
 271,
 275,
 281,
 288,
 289,
 315,
 326,
 341,
 355,
 357,
 359,
 372,
 374,
 379,
 381,
 384,
 385,
 391,
 401,
 411,
 419,
 420,
 435,
 436,
 437,
 438,
 443,
 461,
 479]

# Impute the outliers with the median value

In [ ]:
# Impute the outliers with the median value

# Detect Outliers in each column of the dataset
for col in All_1.select_dtypes(include=[np.number]).columns:  # Only process numeric columns
    Q1 = All_1[col].quantile(0.25)
    Q3 = All_1[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    median = All_1[col].median()
    All_1[col] = np.where((All_1[col] < lower_bound) | (All_1[col] > upper_bound), median, All_1[col])

# Verify the changes
All_1.head()

,Person ID,Age Group,Gender,Occupation,Exercise Days/Week,Device Usage (hrs/day),Screen Time Before Sleep,Height (cm),Weight (kg),Bedtime,...,Sleep Disturbances,Sleep Medication,Language,Stress Level,Blood Pressure,Heart Rate,Daily Steps,Sleep Duration,BMI,Calculated Night Sleep Duration
0,1.0,25-34,Female,Student,1-2 Days,7+ Hours,<30 Minutes,155.0,46.0,00:00,...,Rarely,No,English,8.0,121/79,68.0,7187.0,6+ Hours,19.1,8.0
1,2.0,25-34,Male,Student,0 Days,7+ Hours,2+ Hours,163.0,52.0,01:00,...,Rarely,No,English,7.0,120/80,73.0,6961.0,6+ Hours,19.6,7.5
2,3.0,25-34,Female,Student,1-2 Days,7+ Hours,1-2 Hours,160.0,60.0,23:30,...,Sometimes,No,English,8.0,132/87,65.0,6253.0,6+ Hours,23.4,7.5
3,4.0,25-34,Male,Student,1-2 Days,1-3 Hours,30-60 Minutes,173.0,88.0,00:30,...,Rarely,No,Urdu,8.0,125/82,71.0,4028.0,6+ Hours,29.4,5.5
4,5.0,25-34,Female,Student,0 Days,7+ Hours,2+ Hours,168.0,76.0,01:00,...,Never,No,Urdu,6.0,140/90,77.0,7102.0,Unknown,26.9,4.5

In [28]:
All_1.to_csv('all_1.csv', index=False)